

.producto1 {
    text-align: center;
}
.producto{
    width: 900px;
    height: 500px;
    border: solid 2px;
    padding: 10px;
    border-radius: 8px;
    margin: 50px;
    display: inline-block;
    background: rgba(255,255,255,0.2);
    background-size: cover;
    
}
.producto__img{
    width: 40%;
    margin: 10px;
    
}
.producto__titulo{
    margin: 8px;
    text-align: center;
    color: white;
}
.producto__desc{
    margin: 10px;
}
.producto__btn{
    display: inline-block;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background: $background;
    box-shadow: $box-shadow;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-position: center;
}

