.DestacadosTitulo{
    font-size: 40px;
    color: white;
    background: rgba(112, 112, 112, 0.4);
    border-radius: 8px;
    background-size: cover;
}
.DestacadosImg{

    font-size: 40px;
    color: white;
}
